attrdict==2.0.0
backports.shutil-get-terminal-size==1.0.0
certifi==2017.7.27.1
chardet==3.0.4
decorator==4.1.2
enum34==1.1.6
idna==2.6
ipython==5.4.1
ipython-genutils==0.2.0
isodate==0.5.4
pathlib2==2.3.0
pexpect==4.2.1
pickleshare==0.7.4
pkg-resources==0.0.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
pyparsing==2.2.0
pystache==0.5.4
requests==2.18.4
rdflib==4.2.2
rdflib-jsonld==0.4.0
requests==2.18.4
scandir==1.5
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
